/* FORM */

form {
  [type='text'],
  [type='password'],
  [type='email'],
  [type='number'],
  [type='password'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='url'],
  [type='week'],
  [type='month'],
  [type='date'],
  textarea {
    width: 100%;
    padding: 0.7em;
    border-radius: 0.3em;
    border: .1em solid #eee;
    margin-bottom: 0.5em;

    &:focus {
      outline: none;
    }
  }
  [type='text'],
  [type='password'],
  [type='email'],
  [type='number'],
  [type='password'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='url'],
  [type='week'],
  [type='month'],
  [type='date'] {
    &:invalid {
      background-color: palevioletred;
      color: whitesmoke;
    }
  }
  label {
    padding: 1em 0;
    margin-bottom: 0.2em;
  }
}


