/* ------------------------
| IMAGE
| ------------------------ */

%s-objectfit {
  height: 100%;
  width: 100%;
}

@mixin objectfit($name) {
  @if $name == "contain" {
    &.-contain {
      @extend %s-objectfit;
      object-fit: contain;
    }
  }
  @if $name == "cover" {
    &.-cover {
      @extend %s-objectfit;
      object-fit: cover;
    }
  }
  @if $name == "fill" {
    &.-fill {
      @extend %s-objectfit;
      object-fit: fill;
    }
  }
  @if $name == "none" {
    &.-none {
      @extend %s-objectfit;
      object-fit: none;
    }
  }
  @if $name == "scale-down" {
    &.-scale-down {
      @extend %s-objectfit;
      object-fit: scale-down;
    }
  }
}

img {
  @include objectfit(contain);
  @include objectfit(cover);
  @include objectfit(fill);
  @include objectfit(none);
  @include objectfit(scale-down);
}


/* ------------------------
| FILTERS (WORK IN PROGRESS)
| ------------------------
| Usage (SCSS):
| @include filters(<NAME>)
|
| UNIT  : 0-1, 0%-100%
|
| Usage (CSS):
| .<NAME>--<UNIT>
| ------------------------ */
@mixin filters($name, $unit) {
  @if $name == "blur" {
    .-blur-#{$unit} {
      filter: blur($unit + "px");
    }
  }
  @if $name == "brightness" {
    .-brightness-#{$unit} {
      filter: brightness($unit);
    }
  }
  @if $name == "contrast" {
    .-contrast-#{$unit} {
      filter: contrast($unit);
    }
  }
  // @if $name == "drop-shadow" or $name == "dropshadow" or $name == "shadow" {
  //   .-drop-shadow-#{$unit} {
  //     filter: drop-shadow($unit + "%");
  //   }
  // }
  @if $name == "grayscale" {
    .-grayscale-#{$unit} {
      filter: grayscale($unit);
    }
  }
  @if $name == "hue-rotate" {
    .-hue-rotate-#{$unit} {
      filter: hue-rotate($unit + "deg");
    }
  }
  @if $name == "invert" {
    .-invert-#{$unit} {
      filter: invert($unit);
    }
  }
  @if $name == "opacity" {
    .-opacity-#{$unit} {
      filter: opacity($unit);
    }
  }
  @if $name == "saturate" {
    .-saturate-#{$unit} {
      filter: saturate($unit);
    }
  }
  @if $name == "sepia" {
    .-sepia-#{$unit} {
      filter: sepia($unit);
    }
  }
  @if $name == "initial" {
    .-initial {
      filter: initial;
    }
  }
  @if $name == "inherit" {
    .-inherit {
      filter: inherit;
    }
  }
}

// @include filters(blur,0);
// @include filters(blur,10);
// @include filters(blur,20);
// @include filters(blur,30);
// @include filters(blur,40);
// @include filters(blur,50);
// @include filters(blur,60);
// @include filters(blur,70);
// @include filters(blur,80);
// @include filters(blur,90);
// @include filters(blur,100);

// @include filters(brightness,0);
// @include filters(brightness,0.25);
// @include filters(brightness,0.5);
// @include filters(brightness,0.75);
// @include filters(brightness,1);

// @include filters(contrast,0);
// @include filters(contrast,0.25);
// @include filters(contrast,0.5);
// @include filters(contrast,0.75);
// @include filters(contrast,1);

// @include filters(grayscale,0);
// @include filters(grayscale,0.25);
// @include filters(grayscale,0.5);
// @include filters(grayscale,0.75);
// @include filters(grayscale,1);

// @include filters(hue-rotate,0);
// @include filters(hue-rotate,45);
// @include filters(hue-rotate,90);
// @include filters(hue-rotate,135);
// @include filters(hue-rotate,180);
// @include filters(hue-rotate,225);
// @include filters(hue-rotate,270);
// @include filters(hue-rotate,315);
// @include filters(hue-rotate,360);

// @include filters(invert,0);
// @include filters(invert,0.25);
// @include filters(invert,0.5);
// @include filters(invert,0.75);
// @include filters(invert,1);

// @include filters(opacity,0);
// @include filters(opacity,0.25);
// @include filters(opacity,0.5);
// @include filters(opacity,0.75);
// @include filters(opacity,1);

// @include filters(saturate,0);
// @include filters(saturate,0.25);
// @include filters(saturate,0.5);
// @include filters(saturate,0.75);
// @include filters(saturate,1);

// @include filters(sepia,0);
// @include filters(sepia,0.25);
// @include filters(sepia,0.5);
// @include filters(sepia,0.75);
// @include filters(sepia,1);

// @include filters(initial,"");

// @include filters(inherit,"");