/* ------------------------
| TABLE
| ------------------------ */

table, .table {
  border-collapse: collapse;
  border-spacing: 0;

  &.-fluid {
    width: 100%;
  }

  th, td {
    border-color: lightgray;
    border-style: solid;
    padding: .5em .75em;
  }
  th {
    border-width: 0 0 2px;
    font-weight: bold;
  }
  td {
    border-width: 0 0 1px;
  }
}