/* ------------------------------------------
|   BASE 
|   Applies to HTML, no class/ID selectors
--------------------------------------------- */

code, kbd, pre, samp {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

a {
  text-decoration: none;
  color: map-get($defcolor, "a");

  &:hover {
    text-decoration: underline;
    color: map-get($defcolor, "ahover");
  }
}